/* comentario */
/* id > class > etiqueta */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;*/
h1{
    color:cadetblue;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    text-transform:capitalize;
    text-align: center;
}
.tamanio{
    /* tamaño */
    font-size: 20px;
    /* peso */
    font-weight: 1000;
    /* estilo de fuente */
    font-style: normal;
    /* familia tipografica */
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
    /* 1-link css.   2-class, id, etiqueta    3-prop texto     4-prob fondo */
body{
    background-image: url(../medios/gotitas.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}

